.App{
  /* background-image: url('https://image.shutterstock.com/image-photo/open-book-on-table-education-260nw-1813887353.jpg'); */
  min-width:100%;
  min-height:100%;
  background-size: cover;
  background-position: center;

}
